# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env/

# Environment
.env

# SQLite
*.db

# Logs
logs/
*.log

# VSCode
.vscode/

# PDFs
pdfs/

# Temporary
tmp/
temp/

# OS
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/