--
-- PostgreSQL database dump
--

\restrict AlQpwaxK69yMMlJKGee75CN6ZfxBUx6Di3dG2QZtjcWxU3nYr6yYV0jMxihghyV

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: diario; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA diario;


ALTER SCHEMA diario OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: backupeventos_20260704; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.backupeventos_20260704 (
    id bigint,
    tipo_evento text,
    agente_nome text,
    cargo text,
    orgao text,
    entidade_origem text,
    entidade_destino text,
    processo text,
    contrato text,
    valor numeric,
    diario_id integer,
    numero_bloco integer,
    evidencia_textual text,
    criado_em timestamp without time zone,
    data_publicacao date,
    orgao_id uuid,
    uuid uuid,
    source_system text,
    source_record_id text,
    processo_normalizado text,
    contrato_normalizado text
);


ALTER TABLE diario.backupeventos_20260704 OWNER TO postgres;

--
-- Name: classificacao_pendente; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.classificacao_pendente (
    publicacao_id bigint NOT NULL,
    tipo_documental text,
    sugestao_classificacao text,
    analisado boolean DEFAULT false,
    criado_em timestamp without time zone DEFAULT now(),
    categoria_sugerida text,
    observacoes text
);


ALTER TABLE diario.classificacao_pendente OWNER TO postgres;

--
-- Name: entidades; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.entidades (
    id bigint NOT NULL,
    tipo_entidade text NOT NULL,
    nome_original text NOT NULL,
    nome_normalizado text NOT NULL,
    criado_em timestamp without time zone DEFAULT now(),
    uuid uuid DEFAULT diario.uuid_generate_v4(),
    source_system text DEFAULT 'DIARIO_PROCESSOR'::text,
    source_record_id text
);


ALTER TABLE diario.entidades OWNER TO postgres;

--
-- Name: entidades_id_seq; Type: SEQUENCE; Schema: diario; Owner: postgres
--

CREATE SEQUENCE diario.entidades_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE diario.entidades_id_seq OWNER TO postgres;

--
-- Name: entidades_id_seq; Type: SEQUENCE OWNED BY; Schema: diario; Owner: postgres
--

ALTER SEQUENCE diario.entidades_id_seq OWNED BY diario.entidades.id;


--
-- Name: relacionamentos_entidades; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.relacionamentos_entidades (
    id bigint NOT NULL,
    entidade_origem_id bigint NOT NULL,
    entidade_destino_id bigint NOT NULL,
    tipo_relacao text NOT NULL,
    diario_id integer,
    data_publicacao date,
    criado_em timestamp without time zone DEFAULT now(),
    uuid uuid DEFAULT diario.uuid_generate_v4(),
    source_system text DEFAULT 'DIARIO_PROCESSOR'::text,
    source_record_id text,
    evento_id bigint
);


ALTER TABLE diario.relacionamentos_entidades OWNER TO postgres;

--
-- Name: entity_relationships_id_seq; Type: SEQUENCE; Schema: diario; Owner: postgres
--

CREATE SEQUENCE diario.entity_relationships_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE diario.entity_relationships_id_seq OWNER TO postgres;

--
-- Name: entity_relationships_id_seq; Type: SEQUENCE OWNED BY; Schema: diario; Owner: postgres
--

ALTER SEQUENCE diario.entity_relationships_id_seq OWNED BY diario.relacionamentos_entidades.id;


--
-- Name: timelines_entidades; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.timelines_entidades (
    id bigint NOT NULL,
    entidade_id bigint NOT NULL,
    orgao_entidade_id bigint,
    tipo_vinculo text NOT NULL,
    data_inicio date,
    data_fim date,
    ativo boolean DEFAULT true,
    evento_inicio_id bigint,
    evento_fim_id bigint,
    criado_em timestamp without time zone DEFAULT now()
);


ALTER TABLE diario.timelines_entidades OWNER TO postgres;

--
-- Name: entity_timelines_id_seq; Type: SEQUENCE; Schema: diario; Owner: postgres
--

CREATE SEQUENCE diario.entity_timelines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE diario.entity_timelines_id_seq OWNER TO postgres;

--
-- Name: entity_timelines_id_seq; Type: SEQUENCE OWNED BY; Schema: diario; Owner: postgres
--

ALTER SEQUENCE diario.entity_timelines_id_seq OWNED BY diario.timelines_entidades.id;


--
-- Name: evento_entidades; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.evento_entidades (
    id bigint NOT NULL,
    evento_id bigint NOT NULL,
    entidade_id bigint NOT NULL,
    papel text NOT NULL,
    criado_em timestamp without time zone DEFAULT now()
);


ALTER TABLE diario.evento_entidades OWNER TO postgres;

--
-- Name: evento_entidades_id_seq; Type: SEQUENCE; Schema: diario; Owner: postgres
--

CREATE SEQUENCE diario.evento_entidades_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE diario.evento_entidades_id_seq OWNER TO postgres;

--
-- Name: evento_entidades_id_seq; Type: SEQUENCE OWNED BY; Schema: diario; Owner: postgres
--

ALTER SEQUENCE diario.evento_entidades_id_seq OWNED BY diario.evento_entidades.id;


--
-- Name: eventos; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.eventos (
    id bigint NOT NULL,
    tipo_evento text NOT NULL,
    agente_nome text,
    cargo text,
    orgao text,
    entidade_origem text,
    entidade_destino text,
    processo text,
    contrato text,
    valor numeric,
    diario_id integer,
    numero_bloco integer,
    evidencia_textual text,
    criado_em timestamp without time zone DEFAULT now(),
    data_publicacao date,
    orgao_id uuid,
    uuid uuid DEFAULT diario.uuid_generate_v4(),
    source_system text DEFAULT 'DIARIO_PROCESSOR'::text,
    source_record_id text,
    processo_normalizado text,
    contrato_normalizado text
);


ALTER TABLE diario.eventos OWNER TO postgres;

--
-- Name: eventos_id_seq; Type: SEQUENCE; Schema: diario; Owner: postgres
--

CREATE SEQUENCE diario.eventos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE diario.eventos_id_seq OWNER TO postgres;

--
-- Name: eventos_id_seq; Type: SEQUENCE OWNED BY; Schema: diario; Owner: postgres
--

ALTER SEQUENCE diario.eventos_id_seq OWNED BY diario.eventos.id;


--
-- Name: eventos_institucionais; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.eventos_institucionais (
    id integer NOT NULL,
    publicacao_id integer NOT NULL,
    tipo_evento text,
    agente text,
    orgao text,
    cargo text,
    data_evento date,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE diario.eventos_institucionais OWNER TO postgres;

--
-- Name: eventos_institucionais_id_seq; Type: SEQUENCE; Schema: diario; Owner: postgres
--

CREATE SEQUENCE diario.eventos_institucionais_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE diario.eventos_institucionais_id_seq OWNER TO postgres;

--
-- Name: eventos_institucionais_id_seq; Type: SEQUENCE OWNED BY; Schema: diario; Owner: postgres
--

ALTER SEQUENCE diario.eventos_institucionais_id_seq OWNED BY diario.eventos_institucionais.id;


--
-- Name: ocorrencias_qualidade; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.ocorrencias_qualidade (
    id bigint NOT NULL,
    codigo_regra character varying(20) NOT NULL,
    evento_id bigint,
    entidade_id bigint,
    status character varying(20) DEFAULT 'ABERTA'::character varying NOT NULL,
    detalhes jsonb,
    detectado_em timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE diario.ocorrencias_qualidade OWNER TO postgres;

--
-- Name: ocorrencias_qualidade_id_seq; Type: SEQUENCE; Schema: diario; Owner: postgres
--

CREATE SEQUENCE diario.ocorrencias_qualidade_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE diario.ocorrencias_qualidade_id_seq OWNER TO postgres;

--
-- Name: ocorrencias_qualidade_id_seq; Type: SEQUENCE OWNED BY; Schema: diario; Owner: postgres
--

ALTER SEQUENCE diario.ocorrencias_qualidade_id_seq OWNED BY diario.ocorrencias_qualidade.id;


--
-- Name: orgaos; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.orgaos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nome_normalizado text NOT NULL,
    nome_original text,
    sigla text,
    esfera text,
    poder text,
    parent_orgao_id uuid,
    ativo boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE diario.orgaos OWNER TO postgres;

--
-- Name: orgaos_aliases; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.orgaos_aliases (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    orgao_id uuid NOT NULL,
    alias text NOT NULL,
    criado_em timestamp without time zone DEFAULT now()
);


ALTER TABLE diario.orgaos_aliases OWNER TO postgres;

--
-- Name: publicacoes; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.publicacoes (
    id bigint NOT NULL,
    diario_id integer,
    numero_bloco integer,
    arquivo_path text,
    texto_bloco text,
    tipo text,
    processo text,
    contrato text,
    contratante text,
    fornecedor text,
    fornecedor_normalizado text,
    contratante_normalizado text,
    cnpj text,
    valores jsonb,
    valor_principal numeric(18,2),
    vigencia text,
    objeto text,
    data_processamento timestamp with time zone,
    data_publicacao date,
    pdf_hash text,
    parser_version text,
    processo_normalizado text,
    contrato_normalizado text,
    cnpj_normalizado text
);


ALTER TABLE diario.publicacoes OWNER TO postgres;

--
-- Name: publicacoes_id_seq; Type: SEQUENCE; Schema: diario; Owner: postgres
--

CREATE SEQUENCE diario.publicacoes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE diario.publicacoes_id_seq OWNER TO postgres;

--
-- Name: publicacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: diario; Owner: postgres
--

ALTER SEQUENCE diario.publicacoes_id_seq OWNED BY diario.publicacoes.id;


--
-- Name: regras_qualidade; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.regras_qualidade (
    codigo_regra character varying(20) NOT NULL,
    nome character varying(255) NOT NULL,
    descricao text NOT NULL,
    categoria character varying(50) NOT NULL,
    severidade character varying(20) NOT NULL,
    ativa boolean DEFAULT true NOT NULL,
    criado_em timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE diario.regras_qualidade OWNER TO postgres;

--
-- Name: schema_migrations; Type: TABLE; Schema: diario; Owner: postgres
--

CREATE TABLE diario.schema_migrations (
    version text NOT NULL,
    name text NOT NULL,
    applied_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE diario.schema_migrations OWNER TO postgres;

--
-- Name: entidades id; Type: DEFAULT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.entidades ALTER COLUMN id SET DEFAULT nextval('diario.entidades_id_seq'::regclass);


--
-- Name: evento_entidades id; Type: DEFAULT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.evento_entidades ALTER COLUMN id SET DEFAULT nextval('diario.evento_entidades_id_seq'::regclass);


--
-- Name: eventos id; Type: DEFAULT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.eventos ALTER COLUMN id SET DEFAULT nextval('diario.eventos_id_seq'::regclass);


--
-- Name: eventos_institucionais id; Type: DEFAULT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.eventos_institucionais ALTER COLUMN id SET DEFAULT nextval('diario.eventos_institucionais_id_seq'::regclass);


--
-- Name: ocorrencias_qualidade id; Type: DEFAULT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.ocorrencias_qualidade ALTER COLUMN id SET DEFAULT nextval('diario.ocorrencias_qualidade_id_seq'::regclass);


--
-- Name: publicacoes id; Type: DEFAULT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.publicacoes ALTER COLUMN id SET DEFAULT nextval('diario.publicacoes_id_seq'::regclass);


--
-- Name: relacionamentos_entidades id; Type: DEFAULT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.relacionamentos_entidades ALTER COLUMN id SET DEFAULT nextval('diario.entity_relationships_id_seq'::regclass);


--
-- Name: timelines_entidades id; Type: DEFAULT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.timelines_entidades ALTER COLUMN id SET DEFAULT nextval('diario.entity_timelines_id_seq'::regclass);


--
-- Name: classificacao_pendente classificacao_pendente_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.classificacao_pendente
    ADD CONSTRAINT classificacao_pendente_pkey PRIMARY KEY (publicacao_id);


--
-- Name: entidades entidades_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.entidades
    ADD CONSTRAINT entidades_pkey PRIMARY KEY (id);


--
-- Name: relacionamentos_entidades entity_relationships_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.relacionamentos_entidades
    ADD CONSTRAINT entity_relationships_pkey PRIMARY KEY (id);


--
-- Name: timelines_entidades entity_timelines_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.timelines_entidades
    ADD CONSTRAINT entity_timelines_pkey PRIMARY KEY (id);


--
-- Name: evento_entidades evento_entidades_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.evento_entidades
    ADD CONSTRAINT evento_entidades_pkey PRIMARY KEY (id);


--
-- Name: eventos_institucionais eventos_institucionais_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.eventos_institucionais
    ADD CONSTRAINT eventos_institucionais_pkey PRIMARY KEY (id);


--
-- Name: eventos eventos_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.eventos
    ADD CONSTRAINT eventos_pkey PRIMARY KEY (id);


--
-- Name: ocorrencias_qualidade ocorrencias_qualidade_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.ocorrencias_qualidade
    ADD CONSTRAINT ocorrencias_qualidade_pkey PRIMARY KEY (id);


--
-- Name: orgaos_aliases orgaos_aliases_alias_key; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.orgaos_aliases
    ADD CONSTRAINT orgaos_aliases_alias_key UNIQUE (alias);


--
-- Name: orgaos_aliases orgaos_aliases_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.orgaos_aliases
    ADD CONSTRAINT orgaos_aliases_pkey PRIMARY KEY (id);


--
-- Name: orgaos orgaos_nome_normalizado_key; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.orgaos
    ADD CONSTRAINT orgaos_nome_normalizado_key UNIQUE (nome_normalizado);


--
-- Name: orgaos orgaos_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.orgaos
    ADD CONSTRAINT orgaos_pkey PRIMARY KEY (id);


--
-- Name: publicacoes publicacoes_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.publicacoes
    ADD CONSTRAINT publicacoes_pkey PRIMARY KEY (id);


--
-- Name: regras_qualidade regras_qualidade_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.regras_qualidade
    ADD CONSTRAINT regras_qualidade_pkey PRIMARY KEY (codigo_regra);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (version);


--
-- Name: publicacoes uq_publicacoes_pdf_bloco; Type: CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.publicacoes
    ADD CONSTRAINT uq_publicacoes_pdf_bloco UNIQUE (pdf_hash, numero_bloco);


--
-- Name: idx_diario_publicacoes_arquivo_path; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_diario_publicacoes_arquivo_path ON diario.publicacoes USING btree (arquivo_path);


--
-- Name: idx_diario_publicacoes_contratante_normalizado; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_diario_publicacoes_contratante_normalizado ON diario.publicacoes USING btree (contratante_normalizado);


--
-- Name: idx_diario_publicacoes_data_processamento; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_diario_publicacoes_data_processamento ON diario.publicacoes USING btree (data_processamento);


--
-- Name: idx_diario_publicacoes_fornecedor_normalizado; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_diario_publicacoes_fornecedor_normalizado ON diario.publicacoes USING btree (fornecedor_normalizado);


--
-- Name: idx_diario_publicacoes_tipo; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_diario_publicacoes_tipo ON diario.publicacoes USING btree (tipo);


--
-- Name: idx_diario_publicacoes_valor_principal; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_diario_publicacoes_valor_principal ON diario.publicacoes USING btree (valor_principal);


--
-- Name: idx_entidade_unica; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE UNIQUE INDEX idx_entidade_unica ON diario.entidades USING btree (tipo_entidade, nome_normalizado);


--
-- Name: idx_entidades_nome_normalizado; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_entidades_nome_normalizado ON diario.entidades USING btree (nome_normalizado);


--
-- Name: idx_entidades_tipo; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_entidades_tipo ON diario.entidades USING btree (tipo_entidade);


--
-- Name: idx_evento_entidades_entidade; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_evento_entidades_entidade ON diario.evento_entidades USING btree (entidade_id);


--
-- Name: idx_evento_entidades_evento; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_evento_entidades_evento ON diario.evento_entidades USING btree (evento_id);


--
-- Name: idx_evento_entidades_papel; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_evento_entidades_papel ON diario.evento_entidades USING btree (papel);


--
-- Name: idx_eventos_agente; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_eventos_agente ON diario.eventos USING btree (agente_nome);


--
-- Name: idx_eventos_contrato; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_eventos_contrato ON diario.eventos USING btree (contrato);


--
-- Name: idx_eventos_data; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_eventos_data ON diario.eventos USING btree (data_publicacao);


--
-- Name: idx_eventos_diario; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_eventos_diario ON diario.eventos USING btree (diario_id);


--
-- Name: idx_eventos_orgao; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_eventos_orgao ON diario.eventos USING btree (orgao);


--
-- Name: idx_eventos_orgao_id; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_eventos_orgao_id ON diario.eventos USING btree (orgao_id);


--
-- Name: idx_eventos_processo; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_eventos_processo ON diario.eventos USING btree (processo);


--
-- Name: idx_eventos_tipo; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_eventos_tipo ON diario.eventos USING btree (tipo_evento);


--
-- Name: idx_publicacoes_data; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_publicacoes_data ON diario.publicacoes USING btree (data_publicacao);


--
-- Name: idx_publicacoes_pdf_hash; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_publicacoes_pdf_hash ON diario.publicacoes USING btree (pdf_hash);


--
-- Name: idx_rel_entidades_data; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_rel_entidades_data ON diario.relacionamentos_entidades USING btree (data_publicacao);


--
-- Name: idx_rel_entidades_destino; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_rel_entidades_destino ON diario.relacionamentos_entidades USING btree (entidade_destino_id);


--
-- Name: idx_rel_entidades_origem; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_rel_entidades_origem ON diario.relacionamentos_entidades USING btree (entidade_origem_id);


--
-- Name: idx_rel_entidades_tipo; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_rel_entidades_tipo ON diario.relacionamentos_entidades USING btree (tipo_relacao);


--
-- Name: idx_relacao_unica; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE UNIQUE INDEX idx_relacao_unica ON diario.relacionamentos_entidades USING btree (entidade_origem_id, entidade_destino_id, tipo_relacao, evento_id);


--
-- Name: idx_timelines_ativo; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_timelines_ativo ON diario.timelines_entidades USING btree (ativo);


--
-- Name: idx_timelines_datas; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_timelines_datas ON diario.timelines_entidades USING btree (data_inicio, data_fim);


--
-- Name: idx_timelines_entidade; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_timelines_entidade ON diario.timelines_entidades USING btree (entidade_id);


--
-- Name: idx_timelines_orgao; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE INDEX idx_timelines_orgao ON diario.timelines_entidades USING btree (orgao_entidade_id);


--
-- Name: uk_ocorrencia_qualidade; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE UNIQUE INDEX uk_ocorrencia_qualidade ON diario.ocorrencias_qualidade USING btree (codigo_regra, evento_id, entidade_id);


--
-- Name: uk_ocorrencias_qualidade_regra_entidade; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE UNIQUE INDEX uk_ocorrencias_qualidade_regra_entidade ON diario.ocorrencias_qualidade USING btree (codigo_regra, entidade_id) WHERE (entidade_id IS NOT NULL);


--
-- Name: uk_ocorrencias_qualidade_regra_evento; Type: INDEX; Schema: diario; Owner: postgres
--

CREATE UNIQUE INDEX uk_ocorrencias_qualidade_regra_evento ON diario.ocorrencias_qualidade USING btree (codigo_regra, evento_id) WHERE (evento_id IS NOT NULL);


--
-- Name: evento_entidades fk_entidade; Type: FK CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.evento_entidades
    ADD CONSTRAINT fk_entidade FOREIGN KEY (entidade_id) REFERENCES diario.entidades(id) ON DELETE CASCADE;


--
-- Name: evento_entidades fk_evento; Type: FK CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.evento_entidades
    ADD CONSTRAINT fk_evento FOREIGN KEY (evento_id) REFERENCES diario.eventos(id) ON DELETE CASCADE;


--
-- Name: eventos fk_eventos_orgao; Type: FK CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.eventos
    ADD CONSTRAINT fk_eventos_orgao FOREIGN KEY (orgao_id) REFERENCES diario.orgaos(id);


--
-- Name: ocorrencias_qualidade fk_ocorrencias_qualidade_regras; Type: FK CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.ocorrencias_qualidade
    ADD CONSTRAINT fk_ocorrencias_qualidade_regras FOREIGN KEY (codigo_regra) REFERENCES diario.regras_qualidade(codigo_regra);


--
-- Name: eventos_institucionais fk_publicacao; Type: FK CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.eventos_institucionais
    ADD CONSTRAINT fk_publicacao FOREIGN KEY (publicacao_id) REFERENCES diario.publicacoes(id) ON DELETE CASCADE;


--
-- Name: relacionamentos_entidades fk_relacionamento_evento; Type: FK CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.relacionamentos_entidades
    ADD CONSTRAINT fk_relacionamento_evento FOREIGN KEY (evento_id) REFERENCES diario.eventos(id);


--
-- Name: orgaos_aliases orgaos_aliases_orgao_id_fkey; Type: FK CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.orgaos_aliases
    ADD CONSTRAINT orgaos_aliases_orgao_id_fkey FOREIGN KEY (orgao_id) REFERENCES diario.orgaos(id);


--
-- Name: orgaos orgaos_parent_orgao_id_fkey; Type: FK CONSTRAINT; Schema: diario; Owner: postgres
--

ALTER TABLE ONLY diario.orgaos
    ADD CONSTRAINT orgaos_parent_orgao_id_fkey FOREIGN KEY (parent_orgao_id) REFERENCES diario.orgaos(id);


--
-- PostgreSQL database dump complete
--

\unrestrict AlQpwaxK69yMMlJKGee75CN6ZfxBUx6Di3dG2QZtjcWxU3nYr6yYV0jMxihghyV

